*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100vw;
    height: 100vh;
    overflow:auto;
    font-family: "Microsoft Yahei", sans-serif;
}
.page{
    background-image: url(assets/first/bg4.png);
    position:relative;background-position: center;
    background-size: cover;
    width:100vw;
    height: 100vh;
    z-index: -1;
}
.back{
    position:absolute;
    top:4vh;
    left: 2vw;
    background: #708aad;
    border-radius: 1vw;
    padding: 1vh 1.5vw 1vh 1vw;
    cursor:pointer;
    transition: 0.2s;
    opacity: 0.9;
  }
.back:hover{
    background: #cccfd6;
     transform: scale(1.05);
    }

.back h1{
    font-size: 1.88vw;
    color:#ffff;
    text-shadow: 0 0 0.42vw rgba(0,0,0,0.4);
}
.frame1{
    position: absolute;
    top: 16vh;
    left: 4vw;
    background:url(assets/first/xiangkuang.png);
    background-size: cover;
    padding: 0;
    width: 37.66vw;height: 70.83vh;
    cursor: pointer;
}
.scroll-h { 
  position: absolute;
  left: 0;
  right: 0vw;
  top: 0vh;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: 60%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  align-items: center;
}
.scroll-h::-webkit-scrollbar {
  display: none;
}
.img-box {
  flex-shrink: 0; 
  width: 100%; 
  height:100%;
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.img-box img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
.frame1 .btn-prev,
.frame1 .btn-next {
  position: absolute;
  bottom: 20%;
  font-size: 35px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #222;
  z-index: 10;
}
.frame1 .btn-prev {
  left: 40%;
}
.frame1 .btn-next {
  right: 40%;
}
.frame2{
    position: absolute;
    top: 15vh;
    left: 45vw;
    width: 47vw;
    height: 70vh;
    background:url(assets/first/wood.png);
    background-size: cover;
    padding: 0;
    cursor: pointer;
    border-radius: 1vw;
}
.scroll-v{ 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 88.5%;
  height: 84%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border-radius: 3vw;
}
.scroll-v::-webkit-scrollbar {
  display: none;
}


.img-box-v {
  flex-shrink: 0;
  width: 100%;
  height:100%;
  background-color: #ffffffd3; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.img-box-v img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.home{
    position: absolute;
    top:90vh;
    left: 86vw;
    background: #708aad;
    border-radius: 1.48vw;
    cursor: pointer;
    transition: 0.2s;
    padding: 1vh 1.5vw 1vh 1vw;
}
.home:hover {
    background: #d6cccc;
     transform: scale(1.05);
}
.home h2{
    font-size: 1.88vw;
    color: #ffffff;
    text-shadow: 0 0 0.42vw rgba(0, 0, 0, 0.4);
}
